<%- include('partials/head.ejs') %>

<body class="basics items-center">

    <header class="header">
        <h1 class="logo mx-auto"><span class="text-accent"> - </span><span class="text-neutral"> - </span><a href="/">SuperDrip</a><span class="text-neutral"> - </span></a><span class="text-accent"> - </span></h1>
    </header>

    <section class="welcome">
        <h2 class="title">Welcome <%= user.userName %></h2>
    </section>
    
    <section class="flex flex-col w-2/3 p-2">
        <section class="flex flex-row w-full justify-end">
            <a href="/dashboard/newLesson" class="greenBtn mr-5">Add Lesson</a>
            <% if(typeof user != 'undefined') { %>
                <a href="/logout" class="redBtn">Log Out</a>
            <% } else { %>
                <a href="/login" class="blueBtn"> Login</a>
            <% } %>
        </section>

        <h2 class="titleSmall mt-5 mb-3 w-1/4">Totals:</h2>
            
        <section class="flex w-full">
            <table class="w-full">
                <thead>
                    <tr class="bg-accent text-left">
                        <th class="tdFormat1">Total Hours:</th>
                        <th class="spacing">Night Hours:</th>
                        <th class="tdFormat2">Highway Hours:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <% let cumulative = 0 %>
                        <% DrivingHours.forEach(item => cumulative+= item.totalHours) %>
                        <td class="spacing"><%= cumulative %></td>
                        <% let addNight = 0 %>
                        <% DrivingHours.forEach(item => addNight+= item.nightHours) %>
                        <td class="spacing"><%= addNight %></td>
                        <% let addHwy = 0 %>
                        <% DrivingHours.forEach(item => addHwy+= item.hwyHours) %>
                        <td class="spacing"><%= addHwy %></td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="w-full">

            <h2 class="titleSmall mt-5 mb-3">Past Lessons:</h2>
            
            <table>
                <thead>
                    <tr class="bg-mid text-left">
                        <td class="tdFormat1" class="tdFormat">Lesson date:</td>
                        <td class="spacing">Instructor:</td>
                        <td class="spacing">Total Driving Time:</td>
                        <td class="spacing">After Sunset:</td>
                        <td class="spacing">On the Highway:</td>
                        <td class="spacing">Note:</td>
                        <td class="spacing">Edit Lesson:</td>
                        <td class="tdFormat2">Delete Lesson:</td>
                    </tr>
                </thead>
                <tbody>
                    <% DrivingHours.forEach(item => {%>
                        <tr>
                            <td class="spacing"><%= moment.utc(item.sessionDate).format( 'MMMM DD, YYYY') %></td>
                            <td class="spacing"><%= item.instructor %></td>
                            <td class="spacing"><%= item.totalHours %></td>
                            <td class="spacing"><%= item.nightHours %></td>
                            <td class="spacing"><%= item.hwyHours %></td>
                            <td class="spacing"><%= item.note %></td>
                            <td class="spacing"><a href="/edit/<%=item._id %>" class="edit"><span class="fas fa-edit hover:text-neutral text-green-500"></span></a></td>
                            <td class="spacing"><a href="/edit/remove/<%=item._id %>" class="remove"><span class="fas fa-trash hover:text-neutral text-accent"></span></a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </section>
    
    <%- include('partials/footer.ejs') %>